@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rh;
    src: url(./Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}

html, body{
    height: 100%;
    width: 100%;
}

.invert{
    filter: invert(1);
}

.flex{
    display: flex;
}

.down{
    display: flex;
    flex-direction: column;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #dadada;
    position: relative;
}   

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    position: relative;
    z-index: 10;
    color: #fff;
    justify-content: space-between;
    
}

#cursor {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}


#line{
    background-color: rgb(30, 30, 30);
    height: 1.3px;
    margin: 0 40px 0 40px;
}

.pg2-nav{
    display: flex;
    padding: 6vh 3vw 1vh 3vw;
    align-items: center;
    justify-content: space-between;
}

.pg2-nav h1{
    font-size: 30px;
    font-weight: 500;
    font-weight: normal;
}

#cursor h5{
    font-size: 1.2vw;
    font-weight: 500;
}

.pg2-content{
    align-items: center;
    padding: 3vw 3vw;
}

.pg2-content h1{
    line-height: 1.07;
    overflow-y: auto;
    font-weight: normal;
    font-size: 71px;
}

.pg1-nav{
    padding: 3vw 3vw; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}

#page1-content h1{
    font-family: rh;
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;
}

#page1-content h1 span{
    font-family: rh;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: beig;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}

#pg3-top{
    text-align: center;
}

#pg3-top h4{
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}

#pg3-top h2{
    font-size: 4vw;
    font-weight: 500;
}

#pg3-top h4 span{
    font-size: 0.65vw;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 0.2vw 0.5vw;
}

#page3-elements{
    height: 75vh;
    width: 100%;
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 8vw;
}

#page3-elements .box{
    height: 70%;
    width: 32.5%;
    position: relative;
}

#page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page3-elements .imgmain{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.4s;
}

#page3-elements .box:hover .imgmain{
    opacity: 0;
    
}

.img{
    width: 200px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 15%;
    z-index: 1;
}

#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}

#page4 video{
    height: 92%;
}

#page4 svg{
    position: absolute;
    height: 50%;
}